:root {
	--dark_color: #3D405B;
	--white_color: #F4F1DE;
	--yellow_color: #F2CC8F;
	--green_color: #81B29A;
	--orange_color: #e07a5f;
}

body {
	background-color: var(--dark_color);
	color: var(--white_color);
	font-size: large;
}

table {
	width: 100%;
	border-spacing: 10px;
	table-layout: fixed;
}

tr {
	width: 100%;
	text-align: center;
}

td {
	padding: 10px;
	text-align: center;
	outline: 1px solid var(--white_color);
}

button {
	border: 1px solid var(--white_color);
	background-color: var(--dark_color);
	color: var(--white_color);
	padding: 10px;
	font-size: large;
	cursor: pointer;
}

button:hover {
	border: 1px solid var(--dark_color);
	background-color: var(--white_color);
	color: var(--dark_color);
}